<h1>Status index</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-tittle"> Index </h5>
        <%= link_to "New", admin_new_status_path, class: 'btn btn-primary' %>

<% if flash[:set_statuses_error] %>
    <%= flash[:set_statuses_error] %>
<% end %>

    <table class="table table-hover">
        <tr>
            <th> Description </th>
            <th> Action </th>
        </tr>
        <% @statuses.each do |c| %>
            <tr>
                <td> <%= c.description %> </td>
                <td>
                    <%= link_to "Edit", admin_edit_status_path(c) %>
                    <%= link_to "Delete", admin_status_path(c), method: :delete %>
                </td>
            </tr>
        <% end %>
    </table>

    </div>
</div>